/* Navbar with no shadow */
.fixed-navbar
{
  box-shadow: none !important;
  font-weight: 300;
}

@media only screen and (max-width: 500px) {
  .fixedNavText{
    font-size: 11px !important;
  }
}
/* Fixed Navigation */
#nav-link{
  color: white;
  font-weight: 400;
  font-size: 1rem;
  padding: 0 !important;
  text-transform: uppercase !important;
  border-bottom: 1px solid #3A499A;
}
#nav-link:hover{
  color: rgba(255, 255, 255, 0.75) !important;
}

#custom-nav-bar-sticky{
  margin-right: 2rem !important;
  padding-right: 1rem!important;
}

ul > li{
  list-style: none !important;
  display: inline-block !important;
  padding-right : 0.7em;
}
/* END Fixed Navigation */

.be-blue-text{
  color: #3A499A !important;
}

/* Navbar shaddow, also works on images e.g. homepage banner image */
.sticky-navbar-shadow {
	 box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}

.sticky-navbar-shadow ul li a{
  font-weight: bolder;
}

.myaccount {
  font-weight:bold;
}

.activeNavLink{
  border-bottom: 1px solid rgb(255, 152, 0) !important;
}

.full-img{
  position: relative;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* Logo Transition */
#Logo{
  transition: all 0.3s;
}
.largeLogo {
  height: 90px;
  margin-left: 3rem!important;
}
.smallLogo {
  height: 55px;
  margin-left: 3rem!important;
}
@media only screen and (max-width: 600px) {
  .largeLogo {
    height: 60px;
    margin-left: 0rem!important;
  }
}
@media only screen and (max-width: 370px) {
  .largeLogo {
    height: 45px;
    margin-left: 0rem!important;
  }
    .smallLogo {
      height: 35px;
      margin-left: 3rem!important;
  }
}

/* No padding */
.no-padding{
  position: relative;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Display Text */
.display-5{
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6{
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-7{
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-8{
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-9{
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.2;
}

/* HR Divider */
.divider {
  border:0;
  height:1px;
  background-image: linear-gradient(to right, #f0f0f0, #FFA000, #EE6C36, #f0f0f0);
  width:50%;
}

.verticleDivider {
  background-image: linear-gradient(to bottom, #f0f0f0, #FFA000, #EE6C36, #f0f0f0);
  height: 180px;
  width: 1px;
}


/* Nav Bar Color */
.light-blue {
  background-color: #3A499A !important
}

/* Text to match navbar */
.light-blue-text{
  color: #3A499A !important;
}

.btn.light-blue {
  border:2px solid #3A499A!important;
}

.btn.light-blue:hover {
  background-color: #fff!important;
  border:2px solid #3A499A!important;
  color:#3A499A!important;
}

.btn.btn-orange {
  background-color: #F47836!important;
  border:2px solid #F47836!important;
}

.btn.btn-orange:hover {
  background-color: #fff!important;
  border:2px solid #F47836!important;
  color:#F47836!important;
}

.orange {
  background-color:#f47836!important;
}

.z-depth-1 {
  width:80%;
  margin:0 auto;
}
.z-depth-2 {
  width:65%;
  margin:0 auto;
}

/* Radio Buttons */
.inputGroup {
  background-color: #fff;
}
.radio-item {
  display: inline-block;
  width: 30%;
  margin: 10px 0;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s ease-in;
  overflow: hidden;
  color: #343a40;
  font-weight: 400;
}
.inputGroup label:before {
  width: 20px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #3A499A !important;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #ff8910;
  border-color: #ff8910;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
code {
  background-color: #9AA3AC;
  padding: 0 8px;
}
.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #004c97;
}
.resize-input-95{
  width: 95% !important;
}

/* Main icon buttons */
/* Select Box */

@media only screen and (max-width: 600px) {
  .largeLogo {
    height: 60px;
    margin-left: 0rem!important;
  }
}
@media only screen and (max-width: 370px) {
  .largeLogo {
    height: 45px;
    margin-left: 0rem!important;
  }
    .smallLogo {
      height: 35px;
      margin-left: 3rem!important;
  }
}

@media only screen and (max-width: 1382px) {
  .faqBtn{
    background-color:white !important;
    color: black;
    display: block;
    width: 100%;
    font-size: 11px;
  }
}

@media only screen and (max-width: 1074px) {
  .faqBtn{
    background-color:white !important;
    color: black;
    display: block;
    width: 100%;
    font-size: 9px;
  }
}

@media only screen and (max-width: 993px) {
  .faqBtn{
    background-color:white !important;
    color: black;
    display: block;
    width: 100%;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1382px) {
  .faqBtn{
    background-color:white !important;
    color: black;
    display: block;
    width: 80%;
    margin-left:10%;
  }
}


.faqBtn{
  box-shadow: 0 10px 10px -10px;
  border-style: solid;
  border-top-width: 1.5px;
  border-left-width: 1.5px;
  border-top-color: #DDDDDD;
  border-left-color: #DDDDDD;
  border-bottom-color: #898989;
  border-right-color: #898989;
  border-right-width: 2px;
}

.faqBtn:hover{
  background-color:#3A499A !important;
  color: white;
}



.faqBtnDropDown{
  background-color:white !important;
  color: black;
  display: block;
  font-size: 120%;
  text-align: left  !important;
  box-shadow: 0 10px 10px -10px;
  height:60px;
}
.faqBtnDropDown:hover{
  background-color:#3A499A !important;
  color: white;
}
/* most read articles links */
.faqBtnDropDownArticles{
  width:100%;
  text-align: left!important;
  font-size: 18px!important;
  color: blue;
  height:40px!important;
  padding-top: 5px;


}

.faqBtnDropDownArticles:hover{
  background-color:#3A499A !important;
  color: white!important;
  cursor: pointer!important;
}

.cardText{
  font-size: 120% !important;
  font-weight: bold;
  margin-top: 5%;


}

.d-flex{
  display:flex;
}

/* pl */
.pl-1 {
    padding-left: 1rem!important;
}
.pl-2 {
  padding-left: 1.5rem!important;
}
.pl-3 {
    padding-left: 2rem!important;
}
.pl-4 {
    padding-left: 2.5rem!important;
}

.btnT{
  width:100% !important;
}
.footer-copyright {
  border-top: 1px solid #FF9800;
}

.display-8 {
  font-size: 1.2rem!important;
}

.ourTeam img {
  max-height: 250px;
}

.bold {
  font-weight: 400;
}

.bolder {
  font-weight: 600;
}



.sideLink{
  background-color: white  !important;
  text-align: left;
}

.sideLink:hover{
  background-color: #838ECD !important;
  color:white;
}
.activteSideLink{
  background-color:#3A499A !important;
  color:white;
}
.activteSideLink:hover{
  color: #FF9800;

}

/* Orange Alert */
.orange-alert {
  background-color: rgb(255,167,38, 0.75) !important;
  border-color: rgb(255,167,38, 0.75) !important;
  color: #000000 !important;
}

.websiteBlue{
  color:#3A499A;
}

/* Valid Feild Outline*/
.validFeild-outline{
  border: 1px solid #00c851 !important;
  transition: all .3s;
  border-radius: 4 !important;
  width:100%;
  padding: 0.6rem 0 0.4rem 0 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  padding-left: 1rem !important;
}
/* Invalid Feild Outline*/
.invalidFeild-outline{
  border: 1px solid #f44336 !important;
  transition: all .3s;
  border-radius: 4 !important;
  width:100%;
  padding: 0.6rem 0 0.4rem 0 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  padding-left: 1rem !important;
}

.maps{
  width:90% !important;
  height:400px !important;

}

@media only screen and (max-width: 993px) {
  .maps{
    margin-left:7%!important;
  }
}



/* Col Size 1.5 */
.col-1.5{
  max-width: 12.499999995% !important;
}

/*Date Label Fix */
#DOBFeild, #moveOutDate, #moveInDate, #lastVendDate, #ddCollectionDate{
  margin-top: 0.5rem !important;
  left: -5px !important;
}

/* Select Box */
@media only screen and (max-width: 2000px) and (min-width: 400px) {
  .form-select-box{
    display: inline-block;
    width: calc(98% - 1.32em);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 0rem .2em .75rem;
    font-size: 1rem;
    font-weight: 350;
  }
}

input:focus, textarea {
  outline: none !important;
  border: none !important;
}

/* Select Dropdowns Overrides*/
.css-tj5bde-Svg{
  color: #FF9800 !important;
}
.css-1n7v3ny-option{
  background-color: rgba(58,73,154,0.9) !important;
  color: #FFFFFF !important;
  font-weight: 400 !important;
}
.css-9gakcf-option{
  background-color: rgba(58,73,154,0.9) !important;
}
.css-2b097c-container{
  padding-top: 0 !important;
  padding-left: 7px !important;
}
 .css-26l3qy-menu{
   z-index: 10 !important;
 }
 .css-1alnv5e:hover{
   background-color: rgba(255,152,0,0.6) !important;
 }
 .multiselect-width{
   width: 96% !important;
   float: right;
 }

/* Joinform Alerts */
.joinform-alert{
  margin-bottom: 0 !important;
}

/* Margin Top / Bottom */
.mt-0{
  margin-top: 0 !important;
}
.mt-1{
  margin-top: 0.5 !important;
}
.mt-2{
  margin-top: 1 !important;
}
.mt-3{
  margin-top: 1.5 !important;
}

.mb-0{
  margin-bottom: 0 !important;
}
.mb-1{
  margin-bottom: 0.5 !important;
}
.mb-2{
  margin-bottom: 1 !important;
}
.mb-3{
  margin-bottom: 1.5 !important;
}

/* Orange Text Underline */
.orange-underline{
  border-bottom: 1px solid rgb(255, 152, 0);
  display: inline-block;
  margin-bottom: 0 !important;
}

/* Help Button 'i' */
.help-tip{
    position: absolute;
    top: 30px;
    right: 20px;
    text-align: center;
    background-color: rgb(255, 152, 0, 0.6);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
}
.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}
.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}
.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: rgba(58,73,154,1);
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    z-index: 10;
}
.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color: rgba(58,73,154,1);
    right:10px;
    top:-12px;
}
.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
.title-left{
  margin-left: 35px !important;
}
/* Join Form Help */
#kpnDetails{
  top: 0px !important;
  left: 60px !important;
}
#dayNightReads{
  top: 0px !important;
  left: 245px !important;
}
#billPayDetails{
  top: 0px !important;
  left: 170px !important;
}
/* Moving Form Help */
#yourDetails{
  top: 0px !important;
  left: 145px !important;
}
#meterTypeHelp{
  top:238px !important;
  left: 135px !important;
}
#paymentTypeHelp{
  top:47px !important;
  left: 155px !important;
}
#paymentTypeHelpROI{
  top:47px !important;
  left: 155px !important;
}
#meterTypeHelpROI{
  top:185px !important;
  left: 135px !important;
}

#otherTariffHelp{
  top:0px !important;
  left: 400px !important;

}
#energyUsageHelp{
  top:487px !important;
  left:155px !important;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }
    100% {
        opacity:100%;
        transform: scale(1);
    }
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

/* Moving Home Banner */
#movingHomeBanner{
  background-color: #F6F5F5;
}
.form-control{
  margin-bottom: -10px !important;
}

/* Form Control with Help 'i' */
.form-control-whelp-invalid{
  padding: 0.5rem 0 0.4rem 0 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + 1.5rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  padding-left: 1rem !important;
}
.form-control-whelp-valid{
  padding: 0.5rem 0 0.4rem 0 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + 1.5rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  padding-left: 1rem !important;
}

.centeredMobile {
  position: absolute;
  top:50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.mobileText {
  position: absolute;
  top:10%;
  background-color: white;
  opacity: 0.8;
  filter: Alpha(opacity=50); /* IE8 and earlier */
  padding-top: 50px;
  border-radius: 25px;
  margin-left:20%;
}

.mobile {
  width: 30%;
}
@media only screen and (min-width: 1400px) {
  .mobile {
    width: 30%;
  }
  .mobileText {
    margin-left:20%;
  }
}
@media only screen and (max-width: 1000px) {
  .mobile {
    width: 0%;
  }
  .mobileText {
    margin-left:0%;
  }
}

@media only screen and (min-width: 888px) {
  .helpPage {
    width:85%;
    text-align: center;
    margin-left: 6.5%;
  }
}





.tariffTable{
  width:100%;
}

.card-img-top{
  height: 250px;
}


/* Media */
 @media only screen and (max-width: 770px) {
  #nav-link{
    color: white;
    font-weight: 400;
    font-size: 0.7rem;
  }
  #nav-link:hover{
    color: rgba(255, 255, 255, 0.75) !important;
  }
  #custom-nav-bar{
    margin-right: 2rem !important;
  }
  #custom-nav-expand{
    text-align: center !important;
  }
  ul > li{
    list-style: none !important;
    display: inline-block !important;
    padding-right : 0.45em;
  }
  #custom-nav-bar-sticky{
    margin-right: 2rem !important;
    padding-right: 0rem!important;
  }
  #footer{
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 370px) {
 #nav-link{
   color: white;
   font-weight: 400;
   font-size: 0.6rem;
 }
 #nav-link:hover{
   color: rgba(255, 255, 255, 0.75) !important;
 }
 #custom-nav-bar{
   margin-right: 2rem !important;
 }
 #custom-nav-expand{
   text-align: center !important;
 }
 ul > li{
   list-style: none !important;
   display: inline-block !important;
   padding-right : 0.26em;
 }
 #custom-nav-bar-sticky{
   margin-right: 2rem !important;
   padding-right: 0rem!important;
 }
 #footer{
   padding-left: 0 !important;
 }

 #selectTitle{
   width: 92% !important;
   margin-left: 8% !important;
 }
 #selectTitleIcon{
   margin-left: -8% !important;
   position:absolute !important;
   padding-top: 10px !important;
 }
}

.theftImg{
  width:100%!important;
}
.theftCol{
  height: 400px;
}

.crdImg{
  margin-top: 5%;
  margin-left: 17%;
  width: 60%;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;
}


.Emg-txt{
  font-size:20px;
}

.track-complaint-label{
  padding-left: 30px !important;
}


.wrapText{
  width:80%;
  font-size: 120%;

}

@media only screen and (max-width: 1130px) {
  .wrapText{
    width:100%;
    font-size: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapText{
    width:100%;
    font-size: 80%;
  }
}

@media only screen and (max-width: 1500px) {
  .mediaRadius{
      border-radius: 50%;
      width: 50%;
      height: 80%;
      margin-left:20%;
      margin-top:5%;
  }
}

.EnergyBannerFridge{
  /* border-radius: 50%; */
}


.Page-Title{
  margin-left:35%;
}


/* Energy Efficiency CSS */
.EngergyEfficiencyInfo{
  width:100% !important;
  margin-top: 5% !important;
  text-align: left;
}

@media only screen and (max-width: 700px) {
  .EngergyEfficiencyInfo{
    width:100% !important;
    margin-left: 0% !important;
    text-align: left;
  }
}


.EngergyEfficiencyInfoLeft{
  width:90% !important;
  margin-left: 10% !important;
  text-align: left;
}
@media only screen and (max-width: 700px) {
  .EngergyEfficiencyInfoLeft{
    width:100% !important;
    margin-left: 0% !important;
    text-align: left;
  }
}
.EnergyEffLeftIcon{
  width:20% !important;
  text-align: left;
}
.EnergyEffLeftText{
  margin-left: 2% !important;
  text-align: left;
}
.EnergyEffLeftIconLeft{
  width:35% !important;
  text-align: left;
}

.HiddenDivLeft{
  margin-left: 14% !important;
  text-align: left;
}
@media only screen and (max-width: 1518px) {
  .HiddenDivLeft{
    margin-left: 0% !important;
  }
}
@media only screen and (max-width: 1518px) {
  .EnergyEffLeftIcon, .EnergyEffLeftIconLeft{
    width:50% !important;
    text-align: left;
  }
}

@media only screen and (max-width: 994px) {
  .EnergyEffLeftIconLeft, .EnergyEffLeftText{
    margin-left: 0% !important;
    text-align: left;
  }
}

@media only screen and (max-width: 550px) {
  .EnergyEffLeftIcon, .EnergyEffLeftIconLeft{
    width:100% !important;
    text-align: left;
  }
}

.EnergyEfftitleStyle{
  text-decoration: underline;
  text-decoration-color: #2196F3;
}

@media only screen and (max-width: 500px) {
  .mobileFriendlyTitle{
    font-size: 20px!important;
    font-weight: bold;
  }
}

@media only screen and (max-width: 500px) {
  .mobileFriendlyText{
    font-size: 10px!important;
  }
}

/*Assistance&Vulnerability*/
@media only screen and (max-width: 550px) {
  .mobileFriendlyTitleVulnerability{
    font-size: 30px!important;
    font-weight: bold;
  }
}
@media only screen and (max-width: 550px) {
  .mobileFriendlyTextVulnerability{
    font-size: 20px!important;
  }
}


.movingHomeBtn{
  width:10%!important;
  margin-left:45%!important;
}
@media only screen and (max-width: 500px) {
  .movingHomeBtn{
    width:100%!important;
    margin-left:0%!important;
  }
}


@media only screen and (max-width: 705px) {
  .extendedComp{
    height:115px!important;
  }
}

/* Select Box */
@media only screen and (max-width: 1060px) and (min-width: 400px) {
  .extendedComp{
    height:115px!important;
  }
}


/*Energy Efficincey images*/
@media only screen and (max-width: 835px) {
  .imgResponive{
  }
}

/*Energy Efficincey images*/
@media only screen and (max-width: 1280px) {
  .imgResponiveMaimImg{
    height:540px!important;
  }
}
@media only screen and (max-width: 1250px) {
  .imgResponiveMaimImg{
    height:540px!important;
  }
}
@media only screen and (max-width: 992px) {
  .imgResponiveMaimImg{
    height:450px!important;
  }
}

/*Codes of Practice Image*/
@media only screen and (max-width: 550px) {
  .imgResponiveCOP{
    height:125px!important;
    width:65%!important;
  }
}
@media only screen and (max-width: 1225px) {
  .imgResponiveCOP{
    height:465px!important;
  }
}
@media only screen and (max-width: 1134px) {
  .imgResponiveCOP{
    height:473px!important;
  }
}
@media only screen and (max-width: 1021px) {
  .imgResponiveCOP{
    height:490px!important;
  }
}


/*REGISTERING SPECIAL NEEDS IMAGE*/
.imgResponiveSpecialNeeds
{
  height:470px!important;
  z-index: -1000!important;
}

@media only screen and (max-width: 1660px) {
  .imgResponiveSpecialNeeds{
    height:518px!important;
  }
}

@media only screen and (max-width: 1268px) {
  .imgResponiveSpecialNeeds{
    height:550px!important;
  }
}




@media only screen and (max-width: 992px) {
  .btmTariff{
    padding:0px!important;
    margin:0px!important;
    width:100%!important;
  }
}










/* Select Box */
@media only screen and (max-width: 700px)  {
  .modal{
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
}

/*Sticky Icon*/
.icon {
  border: 2px soild black;
  position: fixed;
  right:130px;
  top: 60%;
  width: 82px;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.icon a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  font-size: 22px;
  margin: 0px;
  border-radius: 50px 0px 0px 50px;
  transform: translate(150px, 0px);
  transition: all 0.75s;
  word-wrap: break-word;
  font-weight: 400;
}

.icon a i{
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  color: #FFA000;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.icon a:hover{
  transform: translate(0px, 0px);
  color: #ffffff;
}

.our-offers{
  background-color: #3A499A;
  color: #ffffff !important;
  line-height: 15px;

}


/* @media only screen and (max-width: 700px) { */
  .icon a{
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 70%;
    padding-top: 0px;
    padding-bottom: 30%;
    height: 135px!important;
    font-size: 22px;
    font-size: 90%!important;
    margin: 0px;
    text-align: right;
    border-radius: 0px 0px 0px 0px!important;
    transform: translate(180px, -190px)!important;
    text-align: top!important;
    padding-top:10px;
    border-radius: 10%!important;
    }
  /* } */

  /* @media only screen and (max-width: 700px) { */
    .icon a i{
      padding: 5px;
      padding-top: 0px!important;
      padding-bottom: 2px!important;
      background-color: #ffffff;
      height: 22px;
      width: 23px;
      color: #f47836;
      line-height: 20px;
      border-radius: 50%;
      }
    /* } */

    /* @media only screen and (max-width: 700px) { */
      .test2{
        writing-mode: vertical-rl!important;
        margin-left: 1%!important;
        margin-top: 5%!important;
        height:130px;
        text-align: top!important;
        text-align: left!important;
        display: inline;
        padding-right:50px;
        }
      /* } */

      .test2{
        display: inline;

      }
       /* After the button is clicked */
      .icon a:active {
        background-color: #E3D5C1!important;
        background-size: 100%!important;
        transition: background 0s!important;
      }

      .orange-text {
        color: #f47836 !important;
    }


.our-renewable{
  background-color: #83C159 !important;
  color: #ffffff !important;
  line-height: 15px;
}

.our-chat-bot{
  background-color: #f47836 !important;
  color: #ffffff !important;
  line-height: 15px;
}
.chatBotPosition{
  border: 2px soild black;
  position: fixed;
  top: 49%;
  right: 7%;
  width: 220px;
  display: flex;
  flex-direction: column;
  z-index: 9;
}



.be-blue-button {
  background:#3A499A !important;
  color: white;
}

.btn-default:not([disabled]):not(.disabled):active, .btn-default:not([disabled]):not(.disabled).active, .show > .btn-default.dropdown-toggle {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #3A499A !important;
}

/* Model */
.modal-header {
    display: flex;
    align-items: flex-end !important;
    justify-content: space-between;
    border-bottom: 0 !important;
  }

.modal-content{
  height: -webkit-fill-available;
  background-color: inherit;
  box-shadow: 0;
  border: 0;
  border-radius: 0.125rem;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 0 !important;
}

.modal-backdrop.show {
    opacity: 1;
    background-color: rgba(255, 152, 0, 0.955);
}

.modal-dialog .modal-content {
    box-shadow: none !important;
    border: 0;
    border-radius: 0.125rem;
}

.greyTextWidth{
padding-left:10%!important;
padding-right:10%!important;
margin-bottom: 2%!important;
}

.bankDetailsColor
{
  color: #F47836;
}

.card-body-small-business
{
  width:70%!important;
  margin:0 auto;
}

.contactText{
  margin: 0px!important;
}
.iconContact{
  height: 50px!important;
}
.pageHeight{
  height: 750px!important;
}

@media only screen and (max-width: 991px) {
  .pageHeight{
    height: 1350px!important;
  }
}


.cardLogo{
  height:150px!important;
}

.gdprSymbol{
width:50%!important;
margin-left:25%!important;
}

#__8x8-chat-button-container-script_13434342075d60f2aba592e5 {
  display: inline;
}

#__8x8-chat-button-container-script_13434342075d60f2aba592e5 img {
  margin-top:10px;
  padding: 0;
  height:20px;
  width: 50%;
  display: inline-block;
}

.imageCol{
  padding-left:0px!important;

}

@media only screen and (max-width: 700px) {
  .mobileText{
    width:100% !important;
    margin-left: 0% !important;
    text-align: left;
  }
}


.contactDetails{
  width:100% !important;
}

.testfridge{
  padding-top: 2%;
  margin-bottom: 0% !important;
  padding-bottom: 0% !important;
}


.innerCol
{
padding-left: 0px !important;
padding-right: 0px !important;
}

.newHover{
  color:blue;
}
.newHover:hover{
  color:white;
}


  .m-product-cards{
    position: absolute;
      width: 150px;
      height: 150px;
      background: #4099d4;
      border-radius: 75px;
      margin-top:50%;
      margin-left:60%;
  }


  @media only screen and (max-width: 1730px) {
    .m-product-cards{
      position: absolute;
      width: 130px;
      height: 130px;
      background: #4099d4;
      border-radius: 75px;
      margin-top:50%;
      margin-left:60%;
    }
  }

  @media only screen and (max-width: 1540px) {
    .m-product-cards{
      position: absolute;
      width: 100px;
      height: 100px;
      background: #4099d4;
      border-radius: 75px;
      margin-top:50%;
      margin-left:60%;
    }
  }



  .tariffButton{
    position: absolute!important;
    right:    20px!important;
    bottom:   20px!important;
  }

  .tariffButtonLeft{
    position: absolute!important;
    left:    20px!important;
    bottom:   20px!important;
  }

  @media only screen and (max-width: 650px) {
    .tariffButtonLeft{
      width:100px;
      padding-top:16px!important;
      padding-left:5px!important;
      padding-right:5px!important;
      padding-bottom:16px!important;
    }
  }
  @media only screen and (max-width: 1760px) {
    .tariffButtonLeft{
      width:100px;
      padding-top:16px!important;
      padding-left:5px!important;
      padding-right:5px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      left:    5px!important;
      bottom:   5px!important;
    }
  }
  @media only screen and (max-width: 1760px) {
    .tariffButton{
      width:120px;
      padding-top:16px!important;
      padding-left:2px!important;
      padding-right:2px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      right:    5px!important;
      bottom:   5px!important;
    }
  }
  @media only screen and (max-width: 1290px) {
    .tariffButtonLeft{
      width:70px;
      padding-top:16px!important;
      padding-left:5px!important;
      padding-right:5px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      left:    3px!important;
      bottom:   3px!important;
      font-size:12px!important;
    }
  }
  @media only screen and (max-width: 1290px) {
    .tariffButton{
      width:100px;
      padding-top:16px!important;
      padding-left:2px!important;
      padding-right:2px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      right:    3px!important;
      bottom:   3px!important;
      font-size:12px!important;
    }
  }


  @media only screen and (max-width: 1760px) {
    .tariffButtonLeft{
      width:100px;
      padding-top:16px!important;
      padding-left:5px!important;
      padding-right:5px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      left:    5px!important;
      bottom:   5px!important;
    }
  }
  @media only screen and (max-width: 1760px) {
    .tariffButton{
      width:120px;
      padding-top:16px!important;
      padding-left:2px!important;
      padding-right:2px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      right:    5px!important;
      bottom:   5px!important;
    }
  }
  @media only screen and (max-width: 992px) {
    .tariffButtonLeft{
      width:100px;
      padding-top:16px!important;
      padding-left:5px!important;
      padding-right:5px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      left:    25%!important;
      bottom:   5px!important;
    }
  }
  @media only screen and (max-width: 992px) {
    .tariffButton{
      width:120px;
      padding-top:16px!important;
      padding-left:2px!important;
      padding-right:2px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      right:    25%!important;
      bottom:   5px!important;
    }
  }
  @media only screen and (max-width: 600px) {
    .tariffButtonLeft{
      width:100px;
      padding-top:16px!important;
      padding-left:5px!important;
      padding-right:5px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      left:    20%!important;
      bottom:   5px!important;
    }
  }
  @media only screen and (max-width: 600px) {
    .tariffButton{
      width:120px;
      padding-top:16px!important;
      padding-left:2px!important;
      padding-right:2px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      right:    20%!important;
      bottom:   5px!important;
    }
  }
  @media only screen and (max-width: 500px) {
    .tariffButtonLeft{
      width:100px;
      padding-top:16px!important;
      padding-left:5px!important;
      padding-right:5px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      left:    0%!important;
      bottom:   5px!important;
    }
  }
  @media only screen and (max-width: 500px) {
    .tariffButton{
      width:120px;
      padding-top:16px!important;
      padding-left:2px!important;
      padding-right:2px!important;
      padding-bottom:16px!important;
      position: absolute!important;
      right:    0%!important;
      bottom:   5px!important;
    }
  }



  /* Tariff Image Css */
  .tariffImage{
    width:100%!important;
    height:300px!important;
  }
  @media only screen and (max-width: 1240px) {
    .tariffImage{
    width:100%!important;
    height:250px!important;
    }
  }
  @media only screen and (max-width: 992px) {
    .tariffImage{
    width:100%!important;
    height:400px!important;
    }
  }
  @media only screen and (max-width: 600px) {
    .tariffImage{
    width:100%!important;
    height:300px!important;
    }
  }


  /* Tariff Column Css */
  .colCardTariffHeight{
    height: 600px!important;
  }
  .economy7ColCardTariffHeight{
    height: 700px!important;
  }
  .roiColCardTariffHeight{
    height: 700px!important;
  }

  .tariffColumn{
    width: 80%!important;
    margin-left: 0px!important;
    text-align: center!important;
  }
  @media only screen and (max-width: 1200px) {
    .tariffColumn{
      width: 100%!important;
      margin:0px!important;
      padding:0px!important;
    }
  }
  @media only screen and (max-width: 992px) {
    .tariffColumn{
      width: 100%!important;
    }
  }

 /* Tariff Column Height */
  @media only screen and (max-width: 1200px) {
    .colCardTariffHeight{
      height: 750px!important;
    }
  }
  @media only screen and (max-width: 1200px) {
    .colCardTariffHeight{
      height: 650px!important;
    }
  }

.colCardTariffHeightLarger{
  height: 800px!important;
}
.colCardTariffHeightXL{
  height: 900px!important;
}
.rowHeight{
  height: 950px!important;
}



   /* Tariff Card Css */
   @media only screen and (max-width: 992px) {
    .tariiffCardAll{
      height: 650px!important;
      text-align: center!important;
    }
  }


  .tariiffCardAll{
    width:80%;
  }
  .tariiffCardLeft{
    margin-left: 10%!important;
  }
 

  /* Component Div Id Css */
  .displayTariffsCss{
    margin-left: 5%!important;
  }

     /* Tariff Card Css */
     @media only screen and (max-width: 1500px) {
      .tariiffCardAll{
        width:100%!important;
        text-align: center!important;
      }
    }
    @media only screen and (max-width: 1500px) {
      .tariiffCardLeft{
        margin:0px!important;
      }
    }
    @media only screen and (max-width: 1500px) {
      .tariiffCardRight{
        margin:0px!important;
      }
    }
    @media only screen and (max-width: 1500px) {
      .displayTariffsCss{
        margin:0px!important;
      }
    }

    @media only screen and (max-width: 400px) {
      .titleSelect{
        width:92%!important;
        margin-left: 6%;
        margin-top: -33px;
        margin-bottom: -15px;
      }
    }



.bottomTariff{
  margin-left:0%!important;
}


@media only screen and (max-width: 600px) {
  .bottomTariff{
    margin-left:0%!important;
    width:100%!important;
  }
}

.footer-position{
  left: 0;
  bottom: 0;
  width: 100%;
}

.padding-icon
{
  padding:0px!important;
}

.all-icon{
  padding-left:5px!important;
  padding-top:5px!important;
  font-weight: bolder;

}

.meterRead{
  color:#F47836;
}

.testCard{
  width:100%!important;

}

.signUpButton{
height: 50px!important;

}

div.ex3 {
  background-color: #F7F7F7;
  width: 95%;
  height: 400px;
  overflow: auto;
}

.listBox{
  height: 50px!important;
  margin-bottom: 20px!important;
  padding-bottom: 20px!important;
}

.testLi{
  color:red;  
  cursor: pointer;

  border: 1px solid #F0EFEF;
  background-color: white;
  color: black;
  padding: 5px 14px;
  font-size: 16px;
  cursor: pointer;
  list-style-type: none;
}

.testLi:hover {
  background-color: #F47836;
  color:white;
}

.orderBtnColor{

  background-color: #C79040!important;
}


.ReactTable .rt-thead.-header {
  box-shadow: 0 2px 15px 0 rgba(93, 154, 58, 0.19)!important;
}

.ReactTable .rt-th {
  background-color: #3A499A!important;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}
@media only screen and (max-width: 400px) {
  .ReactTable .rt-th {
    background-color: #3A499A!important;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }
}

.ReactTable .rt-td {
  font-size: 13px;
  align-content: center;
  text-align: center;
height: 30px!important;
}

.ReactTable .rt-table {
  border-style: none!important;
  
}

.leagueTable{
  width:95.6%!important;
  text-align: center!important;
}
.blogDiv{
}
@media only screen and (max-width: 400px) {
  .leagueTable{
    width:100%!important;
  }
}
@media only screen and (max-width: 400px) {
  .ReactTable .rt-td {
    font-size: 15px;    
    align-content: center;
    text-align: left;
  height: 30px!important;
  font-size: 11px!important;
  }
}

@media only screen and (max-width: 400px) {
  .testTeam{
    
  }
}


.menuBarColor{
  background-color: #156F2F;
}

.homeContainer{
  border-style: solid;
  border-left-color: white;
  border-left-width: 200px!important;
  border-right-color:white;
  border-right-width: 200px!important;
  /* border-image: url(./images/greytexture.jpg) 200 repeat; */
  box-shadow: 10px 50px 50px rgb(7, 6, 6);
}
@media only screen and (max-width: 700px) {
  .homeContainer{
    border-style: none;
    border-left-width: 0px!important;
    border-right-width: 0px!important;

  }
}


.footerColor{
  background-color: #156F2F;
}

.fixtureMainHeading{
  background-color: #3A499A!important;
  color: white;
  font-weight: bold;
  text-align: left;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
  text-align: center!important;
}
.fixtureHeading{
  background-color: #3A499A!important;
  color: white;
  font-weight: bold;
  text-align: left;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}
.fixtureDiv{
  background-color: rgb(209, 209, 209)!important;
  color: black;
  font-weight: bold;
  text-align: left;
  width:200px!important;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}
.fixtureMiddleDiv{
  background-color: rgb(209, 209, 209)!important;
  color: black;
  font-weight: bold;
  text-align: left;
  text-align: center;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

.fixture_result_table{
  width:50%!important;
}
@media only screen and (max-width: 400px) {
  .fixture_result_table{
    width:100%!important;
  }
}

.playerTable{
  width:67.1%!important;
}
@media only screen and (max-width: 400px) {
  .playerTable{
    width:100%!important;
  }
}

.sideImg{
  width:90%!important;
  margin-left:7.5%!important;
}

.boxshadow{
  box-shadow: 10px 50px 50px rgb(7, 6, 6);
}
.noStyle{
  list-style-type: none;
}


.mainCardDisplay{
  margin-top:9%;
}

.mainCardInfoSide{
  margin-top:5%;
 
}
@media only screen and (max-width: 600px) {
  .mainCardInfoSide{
    margin-left:-5%!important;
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .mainCardTitle{
    font-size: 12px;
  }
}

 
.mainCardImgSide{
  margin-top:2%;
  width:50%;
}
.mainPageCardImg{
  width:100%;
  height:300px;
}
@media only screen and (max-width: 600px) {
  .mainPageCardImg{
    width:125%;
    height:125px;
    margin-left: -12%;
    margin-top: 5%;
  }
}

.blogCardImg{
  width:100%!important;
  height:200px!important;
}



@media only screen and (max-width: 600px) {
  .card-footer{
    font-size:12px;
    padding: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}


@media only screen and (max-width: 600px) {
  .blogCard{
    margin-top:2%;
    width:108%;
    margin-left:-32px!important;
  }
}
@media only screen and (max-width: 600px) {
  .blogCardImg{
    width:100%!important;
    height:120px!important;
    margin-left: 2%;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 600px) {
  .cardTitle{
font-size: 15;
font-weight: bold;
  }
}


#p0{
  left: 50%; top: 0%; position: absolute;
}
#p1{
  left: 0%; top: 25%; position: absolute;
}
#p2{
  left: 33%; top: 25%; position: absolute;
}
#p3{
  left: 67%; top: 25%; position: absolute;
}
#p4{
  left: 100%; top: 25%; position: absolute;
}
#p5{
  left: 0%; top: 67%; position: absolute;
}
#p6{
  left: 33%; top: 67%; position: absolute;
}
#p7{
  left: 67%; top: 67%; position: absolute;
}
#p8{
  left: 100%; top: 67%; position: absolute;
}
#p9{
  left: 33%; top: 100%; position: absolute;
}
#p10{
  left: 67%; top: 100%; position: absolute;
}
.teamBanner{
   width:100%!important; 
  height:350px!important;
}
@media only screen and (max-width: 400px) {
  .teamBanner{
    /* width:100%!important; */
    height:200px!important;
  }
}
.teamBannerInfoTitle{
  font-size: 35px!important;
  margin-left: 5%!important;
}
@media only screen and (max-width: 400px) {
 .teamBannerInfoTitle{
  font-size: 20px!important;
  margin-top: 18px!important;
 }
}
.teamBannerInfoPara{
  font-size: 15px!important;
}
@media only screen and (max-width: 400px) {
 .teamBannerInfoPara{
  font-size: 12px!important;
 }
}